<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.logbook.logbookapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VehiclesActivity"
            android:label="@string/title_activity_vehicles"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.logbook.logbookapp.MainActivity" />
        </activity>
        <activity
            android:name=".AddAVehicle"
            android:label="@string/title_activity_add_avehicle"
            android:parentActivityName=".VehiclesActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.logbook.logbookapp.VehiclesActivity" />
        </activity>
        <activity
            android:name=".VehicleView"
            android:label="@string/title_activity_vehicle_view"
            android:parentActivityName=".VehiclesActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.logbook.logbookapp.VehiclesActivity" />
        </activity>
        <activity
            android:name=".ServiceLog"
            android:label="@string/title_activity_service_log"
            android:parentActivityName=".VehicleView"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.logbook.logbookapp.VehicleView" />
        </activity>
        <activity
            android:name=".GasLog"
            android:label="@string/title_activity_gas_log"
            android:parentActivityName=".VehicleView"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.logbook.logbookapp.VehicleView" />
        </activity>
        <activity
            android:name=".EditVehicle"
            android:label="@string/title_activity_edit_vehicle"
            android:parentActivityName=".VehicleView"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.logbook.logbookapp.VehicleView" />
        </activity>
        <activity
            android:name=".AddServiceLog"
            android:label="@string/title_activity_add_service_log"
            android:parentActivityName=".ServiceLog"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.logbook.logbookapp.ServiceLog" />
        </activity>
        <activity
            android:name=".AddGasLog"
            android:label="@string/title_activity_add_gas_log"
            android:parentActivityName=".GasLog"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.logbook.logbookapp.GasLog" />
        </activity>
        <activity
            android:name=".GasLogView"
            android:label="@string/title_activity_gas_log_view"
            android:parentActivityName=".GasLog"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.logbook.logbookapp.GasLog" />
        </activity>
        <activity
            android:name=".ServiceLogView"
            android:label="@string/title_activity_service_log_view"
            android:parentActivityName=".ServiceLog"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.logbook.logbookapp.ServiceLog" />
        </activity>
        <activity
            android:name=".ServiceCategories"
            android:label="@string/title_activity_service_categories"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EditServiceLog"
            android:label="@string/title_activity_edit_service_log"
            android:parentActivityName=".ServiceLogView"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.logbook.logbookapp.ServiceLogView" />
        </activity>
        <activity
            android:name=".EditGasLog"
            android:label="@string/title_activity_edit_gas_log"
            android:parentActivityName=".GasLogView"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.logbook.logbookapp.GasLogView" />
        </activity>
    </application>

</manifest>
